.flex {
  display: flex;
}

.desktop {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-left: 250px;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1 1 auto;
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 24px;
  background: rgba(var(--purple-special),0.03);
}