.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--top-bar-height);
  margin-left: var(--drawer-width);
  min-height: 100vh;
  background: var(--bg);
}

.content {
  display: block;
  width: 1280px;
  margin: 24px auto;
}