.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  width: var(--drawer-width);
  border-right: var(--border);
  background: var(--nav-bg);
  box-shadow: var(--card-shadow);
  z-index: 1;
}

.list {
  // margin: 18px 8px;
  margin: 32px 8px;
  list-style-type: none;
  padding: 0px;
}

.listItem {
  margin-bottom: 20px;
}