.container {
  position: relative;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  svg {
    font-size: 36px;
  }

  h1 {
    margin-left: 24px;
  }
}

.lighter {
  color: var(--gray3);
}

.buttonsRow {
  display: flex;
  width: 100%;
  
  &::after {
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 110%;
    height: 1px;
    background: var(--line);
  }
}

.btn {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);

  background: transparent;
  
  cursor: pointer;
  
  padding: 12px 8px 12px 0;
  &:not(:first-of-type) {
    margin-left: 24px;
  }
  
  border: none;
  border-bottom: 2px solid transparent;

  &:hover {
    background-color: cyan;
    border-bottom: 2px solid var(--gray6);
  }
}